body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    margin-bottom: 10px;
}
header {
    background-color: #ff6347;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.nav a{
    margin: 0;
    padding: 10px;
    background-color: #c79999;
    text-align: center;
    text-decoration: none;
    flex: 0 0 auto;
    
}
.nav a:hover {
    background-color: #a0522d;
    color: white;
}
/* .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
} */
h2 {
    color: #ff6347;
}
img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 8px;
}
table#menu {
    margin: 20px auto;
    border-collapse: collapse;
    width: 50%;
    text-align: left;
}
td, th {
    border: 1px solid #ddd;
    padding: 8px;
}
footer {
    background-color: #d86132;
    color: white;
    text-align: center;
    padding: 8px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}