body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #ff6347;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.nav {
    margin: 0;
    padding: 10px;
    background-color: #c79999;
    text-align: center;
    flex: 0 0 auto;
    
}
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
h2 {
    color: #ff6347;
}
footer {
    background-color: #d86132;
    color: white;
    text-align: center;
    padding: 8px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}